
  body{
      background-color: rgb(0, 0, 0);
      font-family: Arial, sans-serif;
      font-size: 85%;
            }
.belo{
            margin-left: 124px;
            margin-right: 124px;
            background-color: rgb(255, 255, 255);
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 2px;
        }
.main{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(238, 238, 238);
    margin-top: 0px;
    margin-bottom: 0px;
}
#img-div{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    line-height: 17px;
    vertical-align:bottom;
padding: 0%;
    z-index:1;
}
.textcenter{
     text-align: center;
}
.slika{
     text-align: center;  
     vertical-align:bottom
}
.sredina{
    background-color: rgb(238, 238, 238);
    text-align: justify;
    margin-left: 280px;
    margin-right: 300px;

}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
}
h1{
    font-size: 250%;
    padding-top: 20px;
}