body{
     background: radial-gradient(circle,rgb(255, 255, 255) 10%, rgb(165, 165, 197) 49%, rgb(161, 160, 161) 100%);
}
*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}
.slika{
    text-align: center;
    margin-top:100px;
}
.jezik{
    text-align: center;
    margin-top:100px;
}
.slika img{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(138, 137, 137);
    box-shadow: 0px 0px 10px rgb(36, 35, 35);
    border-radius: 5% 30%;
    margin-top: -100px;
}
.slika img:hover {
    opacity: 0.5;
  }

  .jezik img{
    width: 20rem;
    margin-top: -100px;
      }
.omeni{
    margin-top: 1rem;
    text-align: justify;
    font-style:oblique;
    font-size:1.2rem;
    font-weight: bolder;
    }
.social{
    display: flex;
    justify-content: normal;
    margin: 25px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}

section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
    border-radius: 2%  2%;
}

    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    section h2{
        margin: 20px 0;
        width: 90%;
    }
    section > div{
        width: 90%;
    }
    .exp{
        display: flex;
        flex-flow: row wrap;
        border-bottom: 1px solid #bbb;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .exp-info{
        display: flex;
        flex-flow: column wrap;
    }
    .exp-logo{
        flex: 0 0 25%;
        max-width: 100px;
    }
    .exp-info{
        flex: 0 0 70%;
        margin-left: auto;
    }
    .exp-logo2 img{
        margin-top: 1rem;
        width: 9rem;
        height: 5rem;
    }
    .exp-logo1 img{
        width: 4rem;
        height: 6rem;
    }
    .exp-logo img{
        width: 9rem;
        height: 5rem;
    }
   
    .exp h3{
        font-size:  1.2em;
    }
    .exp h4{
        font-size:  1em;
        font-weight: normal;
    }
    .exp-logo, .exp-logo1{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }

.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 110px;
    height: 80px;
    border-radius: 17%  5%;
    box-shadow: 0px 0px 15px #555;
}
.interet{
    flex: 0 1 20%;
}
.row {
    display: flex;
  }
  
  .column {
    flex:33%;
  }
  .column img{
    width: 9rem;
    height: 5rem;
    border-radius: 17%  5%;
  }
  .hidden {
	display:none;
}
.row1 {
    display: flex;
  }
  
  .column1 {
    margin-top: 2rem;
    flex:0 1 33%;
  }
  section h1{
    margin: 20px 0;
    width: 90%;
}
.column2 {
    flex:0 1 34%;
  }